<div class="post_box">
    <h2><a href="#">Lorem ipsum dolor sit amet</a></h2>
<div class="fb-activity" data-width="300" data-height="300" data-header="true" data-recommendations="false"></div>
    <img src="/Content/images/templatemo_image_02.jpg" class="image_wrapper" alt="Image 2" />
    <p>
        <span class="cat">Posted in <a href="#">Templates</a>, <a href="#">Design</a></span>
        | <a href="#">36 comments</a>
    </p>
    <p>
        Vestibulum adipiscing tempus elit eu condimentum. Fusce at mi felis. Etiam sed velit
        nibh.
    </p>
    <a class="more float_r" href="#">More</a>
    <div class="cleaner">
    </div>
</div>
<div class="post_box">
    <h2><a href="#">Cum Sociis Natoque Penatibus</a></h2>
    <img src="/Content/images/templatemo_image_03.jpg" class="image_wrapper" alt="Image 3" />
    <p>
        <span class="cat">Posted in <a href="#">Social</a>, <a href="#">Web</a></span>|
        <a href="#">12 comments</a>
    </p>
    <p>
        Vestibulum adipiscing tempus elit eu condimentum. Fusce at mi felis. Etiam sed velit
        nibh.
    </p>
    <a class="more float_r" href="#">More</a>
</div>
<div class="post_box">
    <h2><a href="#">Etiam Auctor Sapien Dapibus</a></h2>
    <img src="/Content/images/templatemo_image_04.jpg" class="image_wrapper" alt="Image 4" />
    <p>
        <span class="cat">Posted in <a href="#">SEO</a>, <a href="#">Analytics</a></span>
        | <a href="#">24 comments</a>
    </p>
    <p>
        Vestibulum adipiscing tempus elit eu condimentum. Fusce at mi felis.
    </p>
    <a class="more float_r" href="#">More</a>
    <div class="cleaner">
    </div>
</div>