@model KKIS.Data.Models.PhotoAlbumCollection
@{
    ViewBag.Title = "Krystal Kleer Ice Sculptures - Photo Gallery";
}
@section Scripts
{
    <script type="text/javascript">
        var dataUrl = '@Url.Action("GetAlbums", "Home")';
    </script>
    <script src="~/Scripts/GalleryCtrl.js"></script>
}
<div id="gallery" ng-controller="GalleryCtrl" ng-init="retrieveAlbums()">
    <div class="row" id="status" ng-show="status=='loading'">
        <h1>Loading...</h1>
        <div class="progress progress-striped active">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                <span class="sr-only">Loading</span>
            </div>
        </div>
    </div>
    <div class="row" ng-show="status==''">
        <div class="col-md-3 hidden-xs hidden-sm">
            <h1>&nbsp;</h1>
            <div class="hidden-print affix" role="complementary">
                <ul class="nav nav-pills nav-stacked well">
                    <li ng-repeat="album in albums"><a href="#{{album.id}}">{{album.title}}</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-9" role="main">
            <div ng-repeat="album in albums" class="row album" id="{{album.id}}">
                <h1>{{album.title}}</h1>
                <div ng-repeat="photo in album.photos" class="photo">
                    <div class="img-thumbnail frame">
                        <div class="img-content" title="{{photo.Title}}" style="background: url({{photo.Url}}) center center no-repeat;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
