@model KKIS.Models.ContactModel
@{
    ViewBag.Title = "Krystal Kleer Ice Sculptures";
}
<div id="slider">
    <div id="templatemo_wrapper">
        <div id="templatemo_main">
            <div id="templatemo_sidebar">
                <div id="header">
                    <h1><a href="/">Krystal Kleer Ice Sculptures, LLC</a>
                    </h1>
                </div>
                <div id="menu">
                    <ul class="navigation">
                        <li><a href="#contactus" class="selected">Contact Us</a></li>
                        <li><a href="#gallery">Photo Gallery</a></li>
                        <li><a href="#pricing">Sizes &amp; Pricing</a></li>
                        <li><a href="#questions">Questions</a></li>
                        <li><a href="#facebook" class="last">Facebook</a></li>
                    </ul>
                </div>
            </div>
            <!-- end of sidebar -->
            <div id="templatemo_content">
                <div class="scroll">
                    <div class="scrollContainer">
                        <div class="panel" id="contactus">
                            @Html.Partial("Contact", Model as KKIS.Models.ContactModel)
                        </div>
                        <!-- end of contact us -->
                        <div class="panel" id="services">
                            @Html.Partial("Services")
                        </div>
                        <!-- end of services -->
                        <div class="panel" id="blog">
                            @Html.Partial("Blog")
                        </div>
                        <!-- end of gallery -->
                    </div>
                    <!-- end scrollContainer -->
                </div>
            </div>
            <!-- end of content -->
            <div class="cleaner">
                s
            </div>
        </div>
        <!-- end of main -->
        <div id="templatemo_footer">
            Copyright © 2011 <a href="#home">Krystal Kleer Ice Sculptures, LLC</a>
            <div class="cleaner">
            </div>
        </div>
    </div>
    <!-- end of wrapper -->
</div>
<!-- end of slider -->
