<h2>Frequently Asked Questions</h2>
<div class="BlueBox">
    How long will my carving last?
</div>
<div class="Indented">
    Our Ice Sculptures are designed to have a show life of 6 to 8 hours. Details will
    soften as the evening goes on, giving the sculpture a very smooth and graceful appearance.
</div>
<div class="BlueBox">
    Do you use molds?
</div>
<div class="Indented">
    No, all of our sculpture are hand carved with one exception being "Punch Bowl" which
    starts with a mold and then is etched by hand.
</div>
<div class="BlueBox">
    How long does it take to make an ice carving?
</div>
<div class="Indented">
    Carving time ranges from 45 minutes to 8 hours or more depending on the difficulty
    of the carving.
</div>
<div class="BlueBox">
    How far in advance do I need to order an ice carving?
</div>
<div class="Indented">
    We appreciate as much notice as possible to insure date availability, although last
    minute orders are often possible. Two to six months is the norm A $100.00 deposit
    secures your date and applies towards the purchase price, the balance is due two
    weeks prior to event.
</div>
