
.scrollButtons {
    position: absolute;
    top: 300px;
    cursor: pointer;
}

    .scrollButtons.left {
        left: 0;
    }

    .scrollButtons.right {
        right: 0;
    }

.hide {
    display: none;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}

.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.cleaner {
    clear: both;
    width: 100%;
    height: 0px;
    font-size: 0px;
}

.cleaner_h10 {
    clear: both;
    width: 100%;
    height: 10px;
}

.cleaner_h20 {
    clear: both;
    width: 100%;
    height: 20px;
}

.cleaner_h30 {
    clear: both;
    width: 100%;
    height: 30px;
}

.cleaner_h40 {
    clear: both;
    width: 100%;
    height: 40px;
}

.cleaner_h50 {
    clear: both;
    width: 100%;
    height: 50px;
}

.cleaner_h60 {
    clear: both;
    width: 100%;
    height: 60px;
}

.float_l {
    float: left;
}

.float_r {
    float: right;
}

.image_wrapper {
    display: inline-block;
    border: 1px solid #2f2824;
    padding: 9px;
    margin-bottom: 10px;
    background: #000000;
}

.image_fl {
    float: left;
    margin: 3px 20px 0 0;
}

.image_fr {
    float: right;
    margin: 3px 0 0 20px;
}

.tmo_list {
    margin: 20px 0 20px 20px;
    padding: 0;
    list-style: none;
}

    .tmo_list li {
        background: transparent url(/Content/images/templatemo_list.png) no-repeat;
        margin: 0 0 20px;
        padding: 0 0 0 25px;
        line-height: 1em;
    }

        .tmo_list li a {
            color: #CC9966;
        }

            .tmo_list li a:hover {
                color: #fff;
            }

.post_box {
    clear: both;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px dotted #999999;
}

.post_header {
    border-top: 3px solid #999;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 20px;
}

.post_box h2 {
    font-size: 22px;
    margin-bottom: 15px;
    background: none;
    padding-bottom: 5px;
}

    .post_box h2 a {
        color: #fff;
    }

.post_box p.post_meta {
    margin-bottom: 0;
}

.post_box img {
    float: left;
    margin-right: 20px;
}

/********** Main Page Structure **********/
#slider {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

#kkis_main {
    clear: both;
    width: 100%;
    padding: 30px 0;
    height: 580px;
}

#kkis_sidebar {
    float: left;
    width: 320px;
    margin-left: 100px;
}

#kkis_content {
    margin: 0px 100px 0px 420px;
}

#header h1 {
    display: block;
    width: 315px;
    height: 166px;
    margin: 0 auto 80px;
    padding: 0;
}

    #header h1 a {
        float: left;
        margin-top: 25px;
        width: 315px;
        height: 166px;
        background: url(../images/templatemo_logo.png);
        text-indent: -10000px;
    }

#menu {
    clear: both;
    float: right;
}

.scroll {
    height: 580px;
    overflow: auto;
    /* overflow-x: hidden; */
    position: relative;
    /*clear: left;*/
}

.scrollContainer div.panel {
    height: 500px;
    padding: 40px 0px 40px 40px;
    overflow: hidden;
}

ul.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

    ul.navigation li {
        margin: 0;
        padding: 0;
    }

    ul.navigation a {
        display: block;
        float: right;
        padding: 8px 15px;
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: 400;
        text-decoration: none;
        color: #fff;
        text-align: right;
    }

        ul.navigation a:hover, ul.navigation a.selected {
            background: #0f020b;
        }

        ul.navigation a:focus {
            outline: none;
        }


#about_panel_1 {
    width: 400px;
    float: left;
}

#about_panel_2 {
    float: left;
    width: 400px;
}

#contactform {
    margin-right: 10px;
}

    #contactform form {
        padding: 0px;
    }

        #contactform form legend {
            font-weight: bold;
            font-size: large;
            padding-bottom: 15px;
        }

        #contactform form .text-box {
            width: 90%;
            padding: 2px 5px;
            color: #fff;
            background: #070105;
            border: 1px solid #CC9966;
        }

        #contactform form label {
            display: block;
            width: 90%;
            margin-right: 10px;
            font-size: 14px;
        }

        #contactform form textarea {
            width: 90%;
            height: 80px;
            color: #fff;
            padding: 5px;
            background: #070105;
            border: 1px solid #CC9966;
        }

.submit_btn {
    padding: 5px 10px;
    color: #fff;
    background: #724C26;
    border: 1px solid #CC9966;
}

/********** Footer **********/

#kkis_footer {
    clear: both;
    float: right;
    width: 360px;
    margin: 20px 40px;
    padding: 20px;
    text-align: left;
    background: #070105;
    border: 1px solid #26071d;
}

    #kkis_footer a {
        color: #fff;
    }
