html, body {
    height: 100%;
}

#content {
    padding-top: 50px;
    padding-bottom: 20px;
}

#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

#footer {
    height: 60px;
    background-color: #f5f5f5;
}

    #footer .credit {
        margin: 20px 0;
    }

/* Home */
#home .highlights {
    text-align: center;
}

    #home .highlights img {
        width: 250px;
        height: 250px;
    }

/* Gallery */
#gallery #status {
    margin-top: 100px;
}

#gallery .album .photo {
    height: 116px;
    width: 116px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}

    #gallery .album .photo .frame {
        height: 100%;
        width: 100%;
    }

        #gallery .album .photo .frame .img-content {
            height: 100%;
            width: 100%;
        }

        #gallery .album .photo .frame img {
            height: 100px;
            width: 100px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -50px; /* Half the height */
            margin-left: -50px; /* Half the width */
        }

/* Hide scrollbars when displaying modal */
.blueimp-gallery > .slides > .slide > .slide-content {
    overflow: hidden;
}
