<h2>About Us</h2>
<a href="http://www.templatemo.com/page/2" target="_parent">
    <img src="/Content/images/paul_judi_salmon.jpg" alt="Image 2" class="image_wrapper image_fr"
        width="200px" /></a>
<p>
    Krystal Kleer Ice Sculptures was founded as a part-time business in 1988 by Paul
    Salmon while he was working as a chef in Green Bay, WI. The business moved to Appleton,
    WI in 1994. In 1998 Krystal Kleer became a full-time career for Paul.
</p>
<p>
    Paul's family assists him at Krystal Kleer Ice in the office and with deliveries.
</p>
<p>
    Paul attributes his talent to God our creator, and strives to honor Him through
    his talent as a carver.
</p>
<p>
    Krystal Kleer Ice Sculptures, LLC. Reserves the right to exercise discretion in
    regards to each sculpture requested, and reserves the right to deny any carving
    which might be considered objectionable or offensive in nature.
</p>
<div class="cleaner cleaner_h40">
</div>
