<h2>Krystal Kleer Ice Sculptures</h2>
<em>Imagine the Possibilities</em>
<embed type="application/x-shockwave-flash" src="http://picasaweb.google.com/s/c/bin/slideshow.swf"
    width="350" height="250" flashvars="host=picasaweb.google.com&captions=0&hl=en_US&feat=flashalbum&RGB=0x000000&feed=http%3A%2F%2Fpicasaweb.google.com%2Fdata%2Ffeed%2Fapi%2Fuser%2Fkrystalkleerice%3Falt%3Drss%26kind%3Dphoto%26access%3Dpublic%26psc%3DF%26q%26uname%3Dkrystalkleerice"
    pluginspage="http://www.macromedia.com/go/getflashplayer"></embed>
<div class="cleaner cleaner_h40">
</div>
<h3>Lorem ipsum dolor</h3>
<ul class="tmo_list">
    <li><a href="#" class="service_one">Schedule an Appointment</a></li>
    <li><a href="#" class="service_two">See Photos of Previous Carvings</a></li>
    <li><a href="#" class="service_three">Follow us on Facebook</a></li>
</ul>
